body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

#form {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    resize: none;
}