html {
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.App {
  text-align: center;
}
