img {
  border-radius: 4px 4px 0px 0px;
}

.card-content {
  padding: 1em;
}

.card p {
  color: black;
}

.card.dark p {
  color: white;
}

.card.dark {
  border: 1px solid rgba(255, 255, 255);
}

.card {
  margin: 1em;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
}
